<h1>New game</h1>
<%= @letters %>
<br>
<br>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :array_of_letters, @letters %>
  <label for="score">What is the longest word you can find?</label>
  <br>
  <input type="text" id="score" name="score">
  <input type="submit" value="Play">
</form>
